@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #151515;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background-color: #151515; 
  font-family: Arial, Helvetica, sans-serif;
}

.wallet-adapter-button {
  background-color: #ab9ff2; 
  color: white; 
  border-radius: 8px; 
  font-size: 16px;
  height: 40px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

.wallet-adapter-button:hover {
  background-color: #867dbf; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.wallet-adapter-button-trigger {
  font-weight: bold;
} 
.wallet-adapter-modal-list{
  background-color: #10141f;
}
.wallet-adapter-button-start-icon {
  margin-right: 8px;
}

.wallet-adapter-button-end-icon {
  margin-left: 8px;
}


.wallet-adapter-modal-list {
  background-color: #10141f; 
  padding: 16px; 
  border-radius: 12px; 
}


.wallet-adapter-modal-list li {
  margin-bottom: 8px; 
}


.wallet-adapter-modal-list .wallet-adapter-button {
  background-color: #10141f; 
  color: white; 
  border: none; 
  border-radius: 6px; 
  padding: 8px 16px; 
  font-size: 14px; 
  transition: all 0.3s ease-in-out;
}


.wallet-adapter-modal-list .wallet-adapter-button:hover {
  background-color: #867dbf;
}
